/*----------VAR section---------------*/

:root {
  --pink: #f960cb;
  --pink-grad: #9d1e77;
  --white: #ffffff;
  --grey: #373535;
}
 
/*----------Body section---------------*/

body {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  color: var(--grey);

}

/*----------Header section--------------*/

header{
  text-align: center;
  margin-bottom: 5px;

}
h1 {
  color: var(--pink);
  margin: 10px;
  font-size: 40px;
}

header p{
  color: var(--white);
  padding-bottom: 20px;
  font-size: 20px;
}

/*--------Main container section---------*/
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main main {
  display: flex;
  flex-direction: column; 
}

main :hover {
  box-shadow: inset 0px 0px 8px;
  rgba(232, 102, 236, 1), 0 0 15px
  rgba(232, 102, 236, 1);

}

.container {
  border-color: var(--white);
  border: 2px dashed var(--white);
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  padding: 5px;
  width: 445px;
}

/*--------Container title section---------*/

h2{
  color: var(--pink);
  font-size: 30px;
  background: var(--grey);
  margin: 10px;
  text-align: left;
  border-radius: 20%;
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 5px;
  width: 27%;
 }

.container h2 {
  position: relative;
  left: 5px;
  top: -35px;
  width: 400px;
  
}

/*-----Container description section--------*/

.container p {
  color: var(--pink);
  margin-top: -30px;
  padding-left: 10px;
  font-size: 20px;
}

/*---------box description section-----------*/

.description p {
  color: var(--white);
  text-align: left;
  background-image: linear-gradient(var(--pink-grad), var(--pink));
  margin: 10px;
  border-radius: 8px;
}

/*--------------Footer section----------------*/

footer {
  color: var(--pink);
  text-align: center;
  padding-top: 25px;
  font-size: 40px;
}